/* Estilos do body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0159fc, #95e0fd);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.message h3 {
    color: #00fcef;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase; /* Transformar o texto em maiúsculas */
}
input#title {
    text-transform: uppercase;
}

td:first-child {
    text-transform: uppercase;
}


header img {
    background-color: #333;
    color: #fff;
    padding: 0px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 100%;
}

/* Estilo do menu de navegação */
header nav {
    text-align: center;
    width: 100%;
    top: 0;
    background-color: #1667fd;
    z-index: 1000;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #0077ff60;
}

/* Media query para dispositivos de largura máxima de 600px */
@media only screen and (max-width: 600px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li a {
    text-decoration: none;
    margin-right: 10px;
}

li a.edit {
    color: rgba(255, 187, 0, 0.87);
}

li a.delete {
    color: red;
}

li a:hover {
    text-decoration: underline;
}

/* Adicionando alguns estilos para melhorar a visualização */
.alert {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 5px;
}

.alert-com-problema {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.alert-manutencao {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}

.alert-resolvido {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
